body{
    background-image: url(képek/hatter.jpg);
    
    
    
    
}
main{
    
    margin: 10px;
    
    
    
}

.ww{
    text-align: center;
    color: rgb(247, 252, 252);
    font-size: 25px;
    max-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


                      
h1{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(153, 152, 151);
    text-align: center;
    font-size: 50px;
    
}
.h22{
    border: white solid 1px ;
    margin: auto;
    padding: 15px;
    text-align: center;
}

article{
    
    color: rgb(247, 252, 252);
    max-width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dd{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(247, 252, 252);
    font-size: 45px;
    padding: 10px;
    
    border-bottom: solid white 1px;
    
    
}
.pp{
    
    text-align: right;
    width:  100%;
    
}
a {
    color: rgb(147, 252, 9);
    text-decoration: underline;
  }
.foart{
    margin: auto;
    letter-spacing: 2px;
    padding-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


aside{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    
    color: rgb(247, 252, 252);
    font-size: 25px;
    text-align: justify;
    padding: 10px;
    max-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.videojatek{
    
    text-align: center;
    border-bottom: solid white 1px;
    
}
.B{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin-bottom: 40px;
}
.as{
    border: solid white 3px;
    text-align: center;
    margin: auto;
    
}
.qwe{
    text-align: center;
    margin-top: 40px;
    margin-right: 200px;
    max-width: 100%;
}
.left{
    
    color: rgb(247, 252, 252);
    font-size: 25px;
    text-align: left;
    padding: 10px;
    max-width: 100%;
    width: 70%;
    margin-bottom: 60px;
    border-bottom: solid white 2px;
   
}
.left2{
    color: rgb(247, 252, 252);
    font-size: 25px;
    text-align: left;
    
    max-width: 100%;
    width: 80%;
    margin-bottom: 60px;
    border-bottom: solid white 2px;
}
.right{
    
    color: rgb(247, 252, 252);
    font-size: 25px;
    text-align: right;
    
    max-width: 100%;
    width: 70%;
    
    
}
.right2{
    
    color: rgb(247, 252, 252);
    font-size: 25px;
    text-align: right;
    border-bottom: solid white 2px;
    margin-right: 170px;
    
    
}
.right3{
    text-align: right;
    padding-top: 40px;
    padding-right: 120px;
    
}
.Munkakok{
    color: rgb(247, 252, 252);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.hobbik{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 10px;
    margin: auto;
    letter-spacing: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.gamee{
    padding-left: 50px;
    margin-left: 100px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-width: 100%;
    
}
footer{
    border: white solid 1px;
    text-align: center;
    color: white;
}

.kapcsolat{
    
    text-align: center;
    border: solid white 1px;
    width: 100%;
   

    
    
}
.kapcs{
    
    text-align: center;
    border: solid white 1px;
    padding: 5px;
    
    margin: auto;
    
    
}
.kapcs img{
    margin-top: 10px;
    
}
.kapcsart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    
}
@media only screen and (max-width: 700px) {
    .hobbik , .kapcsart, .B,.foart{
      display: grid;
      grid-template-columns: 1fr;
    }
}


